@keyframes dashAnim {
     from{
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          fill:transparent;
     }

     to{
          stroke-dasharray:1000 ;
          stroke-dashoffset: 0;
          fill: rgb(184, 184, 184);

     }
}


.st0 {
     fill:transparent;
     stroke:#000000;
     stroke-width:4;
     stroke-miterlimit:10;
     stroke-dasharray: 1000;
     stroke-dasharray: 5;
     animation: dashAnim 5s linear forwards;
}

div {
     display: block;
     margin-left: 42%;
     width: 500px;
     height: 500px;
}


